/**
 * HTML
 *
 * Markup examples using plain html
 *
 * Styleguide 1
 */

/**
 * HTML - inline
 *
 * An inline HTML
 *
 * Styleguide 1.1
 */

/**
 * HTML - single line example
 *
 * A single line HTML
 *
 * Markup: <div class="html-1-1">inline HTML markup</div>
 *
 * Styleguide 1.1.1
 */
.html-1-1 {
  background-color: #f0b54a;
  padding: 10px;
}

/**
 * HTML - multi-line example
 *
 * A multi-line HTML
 *
 * Markup:
 * <ul class="html-1-2">
 * <li>first item</li>
 * <li>second item</li>
 * </ul>
 *
 * Styleguide 1.1.2
 */
.html-1-2 {
  background-color: #93cf90;
  padding: 10px;
}

/**
 * HTML - external
 *
 * An external html file
 *
 * Styleguide 1.2
 */

/**
 * html - external example
 *
 * Fetched from html/external-single.html
 *
 * Markup: html/external-single.html
 *
 * Styleguide 1.2.1
 */
.html-2-1 {
  background-color: #f0b54a;
  padding: 10px;
}

/**
 * html - external example more
 *
 * Fetched from html/external-multi.html
 *
 * Markup: html/external-multi.html
 *
 * Styleguide 1.2.2
 */
.html-2-2 {
  background-color: #93cf90;
  padding: 10px;
}
