/**
 * Jade
 *
 * Markup examples using Jade template
 *
 * Styleguide 2
 */

/**
 * Jade - inline
 *
 * An inline Jade
 *
 * Styleguide 2.1
 */

/**
 * Jade - single line example
 *
 * A single line Jade (example shown as a compiled HTML markup)
 *
 * :hover - hover
 * .active - active
 *
 * Markup: div(class='jade-1-1 #{modifier_class}') Jade single line
 *
 * Styleguide 2.1.1
 */
.jade-1-1 {
  background-color: #f0b54a;
  padding: 10px;
}
.jade-1-1:hover,
.jade-1-1.pseudo-class-hover {
  background-color: #dd7f1d;
}
.jade-1-1.active {
  font-weight: bold;
}

/**
 * Jade - multi-line example
 *
 * A multi-line Jade (example shown as a compiled HTML markup)
 *
 * Markup:
 * ul(class='jade-1-2')
 *  li first item
 *  li second item
 *
 * Styleguide 2.1.2
 */
.jade-1-2 {
  background-color: #93cf90;
  padding: 10px;
}

/**
 * Jade - external
 *
 * An external Jade file
 *
 * Styleguide 2.2
 */

/**
 * Jade - external example
 *
 * Fetched from jade/external.jade
 *
 * Markup: jade/external.jade
 *
 * Styleguide 2.2.1
 */
.jade-2-1 {
  background-color: #93cf90;
  padding: 10px;
}
