/**
 * React
 *
 * A Markup example using React component
 *
 * Styleguide 3
 */

/**
 * React - single
 *
 * Fetched from react/external.jsx (example shown as a compiled HTML static markup)
 *
 * Markup: react/external.jsx
 *
 * Styleguide 3.1
 */
.react-1 {
  background-color: #f0b54a;
  padding: 10px;
}
.react-1 p {
  border: 1px solid #fff;
}

/**
 * React - nested
 *
 * Fetched from react/external-nested.jsx (example shown as a compiled HTML static markup)
 *
 * Markup: react/external-nested.jsx
 *
 * Styleguide 3.2
 */
.react-2 {
  background-color: #93cf90;
  padding: 10px;
}

/**
 * React - with React-Router
 *
 * This generator can display a React component containing a React-Router component.
 *
 * For customization example of React-Router context methods, see `customRouterHelper.js` file under the `exmaple/routerHelpers` folder.
 *
 * Markup: react/react-router.jsx
 *
 * Styleguide 3.3
 */
.react-3 a {
  background-color: #f0b54a;
}
